.classpath
.project
.settings
.DS_Store
.idea
*.iml
**/out
gradle
build
**/build
**/src/test/java/exploration
.gradle
spring-social-core/src/test/java/exploration
**/.classpath
**/.project
**/.settings
**/bin
